# Data Science Tools and Ecosystem

## Author
Richard Sudjana

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__
* List of popular languages
* List of commonly used libraries
* Data science tools
* Examples of arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Javascript

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. Matplotlib

|Data Science Tools|
|---|
|Jupyter Notebooks|
|RStudio|
|Github

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#  This a simple arithmetic expression to mutiply then add integers.

In [2]:
(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by diving by 60.

In [12]:
minutes = 200
hour = 60
conversion = minutes/hour
print(conversion)

3.3333333333333335